<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body text-success">
            <button type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </button>
            <button type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </button>
            <button type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </button>
            <button type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </button>
            <button type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </button>
            <button type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </button>

            <button type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </button>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Recent Post</h5>
        <ul class="list-group">

            <a href="" class="text-decoration-none text-dark">
                <li class="list-group-item">Dapibus ac facilisis in</li>
            </a>

        </ul>

    </div>

    <div class="card my-4">
        <h5 class="card-header">Hot Post</h5>
        <ul class="list-group">

            <a href="" class="text-decoration-none text-dark">
                <li class="list-group-item">Dapibus ac facilisis in</li>
            </a>

        </ul>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body text-success">
            <a type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </a>
            <a type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </a>
            <a type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </a>
            <a type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </a>
            <a type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </a>
            <a type="button" class="btn btn-outline-success btn-sm"
                    style="margin-top: 1px; margin-bottom: 5px;">Primary
            </a>


        </div>
    </div>


</div>